/* (A) WHOLE PAGE */
* { box-sizing: border-box; }
body {
  background-image: url("images/moon.jpg");
  background-position: center;
  background-size: cover;
  background-color: #808080;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family:Palatino Linotype;
  z-index: 99;
}

/* (B) GALLERY WRAPPER */
.gallery {
  /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
/*  border: 3px solid #73AD21;*/

  /* (B2) OPTIONAL WIDTH RESTRICT */
  width: 80%;
  padding: 5px;
  margin: auto;
  margin-bottom: 60px;
  overflow: hidden;

  
  /*background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}

/* (C) GALLERY IMAGES */
.gallery img {
  /* (C1) DIMENSION */
  width: 100%;
  height: 100%;
  padding: 0px;
  object-fit: contain;

  /* (C2) COLORS */
  /*border: 1px solid #ddd;
  background: #fff;*/

  /* (C3) IMAGE RESIZE */
  /* cover | contain | fill | scale-down */
  object-fit: contain;
  position: relative;
}

/* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */
@media only screen and (max-width: 1800px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* (E) OPTIONAL ZOOM ON HOVER */
.gallery img:hover {
  z-index: 9;
  transform: scale(1.01);
  /* linear | ease | ease-in | ease-out | ease-in-out */
  transition: transform ease 0.1s;
}

/* (F) FULLSCREEN MODE */
.gallery img.full {
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  object-fit: fit;
  background: rgba(0, 0, 0, 0.7);
}
.gallery img.full:hover {
  z-index: 999;
  transform: none;
  transition: transform ease 0s;
}
